---
import ArticlePreviewItem from "./ArticlePreviewItem.astro";
import * as articles from "../../pages/blogs.md";
import ContactForm from "../ContactForm";
import { contentfulClient } from "../../lib/contentful";
import type { blogPostFields } from "../../lib/contentful";

const { items } = await contentfulClient.getEntries<blogPostFields>({
  content_type: "blogPost",
});

const { content } = Astro.props;
const posts = items.map((item) => {
  const { title, date, description, slug, image } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(),
    image: "https:" + image.fields.file.url,
  };
});
---

<section class="py-20 sm:py-24 lg:py-32 bg-base-100">
  <div class="mx-auto max-w-screen-xl px-4 md:px-6 lg:px-8">
    <!-- Heading -->
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-3xl md:text-4xl lg:text-5xl font-bold md:mb-6">
        AIUOFC Blogs
      </h2>

      <p class="max-w-screen-md md:text-lg">
        We write blogs about Calgary, Technology, and Finance. Subscribe to our
        Newsletter to receive updates on newly released articles!
      </p>
    </div>
    <!-- /Heading -->
    <div
      class="grid gap-8 md:grid-cols-2 md:gap-12 lg:grid-cols-2 xl:grid-cols-2 xl:gap-16"
    >
      <!-- Article -->
      <!-- {
        articles.frontmatter.articleListObjects.map(
          (article: any, index: number) => {
            const {
              articleDate,
              articleTitle,
              articleDescription,
              articleLink,
              articleImgSrc,
              articleImgAlt,
            } = article;
            return (
              <ArticlePreviewItem
                articleDate={articleDate}
                articleTitle={articleTitle}
                articleDescription={articleDescription}
                articleLink={
                  articles.frontmatter.articleListObjects.length -
                  (index + 1) +
                  "-" +
                  articleTitle.toLowerCase().replaceAll(" ", "-")
                }
                articleImgSrc={articleImgSrc}
                articleImgAlt={articleImgAlt}
              />
            );
          }
        )
      } -->

      {
        posts.map((post, index) => {
          const { date, title, slug, description, image } = post;

          return (
            <ArticlePreviewItem
              articleDate={date}
              articleTitle={title}
              articleDescription={description}
              articleLink={slug}
              articleImgSrc={image}
            />
          );
        })
      }

      <!-- /Article -->
    </div>
  </div>
</section>

<ContactForm
  headingOne="Events"
  descriptionOne="Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit voluptates quisquam itaque amet sint veniam impedit repellat."
  linkOne="/events"
  imgSrcOne="https://images.unsplash.com/photo-1606836483372-d59cfc76228f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
  imgAltOne=""
  headingTwo="Join"
  descriptionTwo="Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit voluptates quisquam itaque amet sint veniam impedit repellat."
  linkTwo="/join"
  imgSrcTwo="https://images.unsplash.com/photo-1580130601254-05fa235abeab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80"
  imgAltTwo=""
/>
