---
const {
  name,
  position,
  generalInformation,
  reasonForJoining,
  hobbies,
  imgSrc,
  imgAlt,
  index,
} = Astro.props.content || Astro.props;
---

<div class="w-full">
  <div>
    <label for={`my-modal-${index}`} class="modal-button hover:cursor-pointer">
      <span>
        <img src={imgSrc} alt={imgAlt} width="250px" height="400px" />
      </span>
    </label>
  </div>
  <div>
    <h3 class="">{name}</h3>
    <h4 class="">{position}</h4>
  </div>
</div>
